<script>
	export let data;
</script>

<svelte:head>
	<title>Home</title>
	<meta name="description" content="Svelte demo app" />
</svelte:head>

<section>
	{#each data.contributions as d}
		{d.budget}
	{/each	}
</section>

<style>


	
</style>
